{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% for department in object.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:department_list' %}?parent_id={{ department.pk }}">{{ department }}</a></li>
  {% endfor %}
{% endblock %}

{% block extra_controls %}
  {% if perms.dcim.add_lab %}
    <a href="{% url 'dcim:lab_add' %}?group={{ object.pk }}" class="btn btn-sm btn-primary">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Lab
    </a>
  {% endif %}
{% endblock extra_controls %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Department
      </h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Parent</th>
            <td>{{ object.parent|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Labs</th>
            <td>
              <a href="{% url 'dcim:lab_list' %}?group_id={{ object.pk }}">{{ labs_table.rows|length }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- {% include 'inc/panels/tags.html' %} -->
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/contacts.html' %}
    {% plugin_left_page object %}
  </div>
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        Child Groups
      </h5>
      <div class="card-body table-responsive">
        {% render_table child_groups_table 'inc/table.html' %}
      </div>
      {% if perms.dcim.add_department %}
        <div class="card-footer text-end noprint">
          <a href="{% url 'dcim:department_add' %}?parent={{ object.pk }}" class="btn btn-sm btn-primary">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Department
          </a>
        </div>
      {% endif %}
    </div>
    {% plugin_right_page object %}
	</div>
</div>
<div class="row mb-3">
	<div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Labs</h5>
      <div class="card-body table-responsive">
        {% render_table labs_table 'inc/table.html' %}
        {% include 'inc/paginator.html' with paginator=labs_table.paginator page=labs_table.page %}
      </div>
    </div>
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}
