{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    {% render_errors form %}

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Device</h5>
      </div>
      {% render_field form.name %}
      {% render_field form.device_role %}
      {% render_field form.tags %}
    </div>
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Hardware</h5>
      </div>
      {% render_field form.manufacturer %}
      {% render_field form.device_type %}
    </div>
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Location</h5>
      </div>
      {% render_field form.lab_group %}
      {% render_field form.lab %}
      {% render_field form.rack %}

      {% if object.device_type.is_child_device and object.parent_bay %}
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Parent Device</label>
          <div class="col">
            <input class="form-control" value="{{ object.parent_bay.device }}" disabled />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Parent Bay</label>
          <div class="col">
            <div class="input-group">
              <input class="form-control" value="{{ object.parent_bay.name }}" disabled />
              <a href="{% url 'dcim:devicebay_depopulate' pk=object.parent_bay.pk %}" title="Regenerate Slug" class="btn btn-danger d-inline-flex align-items-center">
                <i class="mdi mdi-close-thick"></i>&nbsp;Remove
              </a>
            </div>
            </div>
          </div>
      {% else %}
        {% render_field form.face %}
        {% render_field form.position %}
      {% endif %}
    </div>
    
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Management</h5>
      </div>
      {% render_field form.status %}
    </div>
    
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Tenancy</h5>
      </div>
      {% render_field form.tenant_group %}
      {% render_field form.tenant %}
    </div>

{% endblock %}
